<div class="login-form-container">
    <h2>Inicio de Sesi&oacute;n</h2>
    
    <div class="error-messages">
        <label *ngIf="loginForm.get('email').touched &&
                      loginForm.get('email').invalid &&
                      loginForm.get('email').valud != ''">
            * ¡El e-mail ingresado es Invalido!
        </label>
        <br />
        <label *ngIf="loginForm.get('password').touched &&
                      loginForm.get('password').invalid &&
                      loginForm.get('password').valud != ''">
            * ¡La contrase&ntilde;a ingresada es Invalida!
        </label>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input matInput placeholder="E-Mail" formControlName="email" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Contrase&ntilde;a" formControlName="password" type="password" required>
        </mat-form-field>
        <br />

        <div style="color: red; font-size: 20px;" *ngIf="submitted">
            ¡Usted ha Iniciado Sesi&oacute;n!
        </div>
        
        <button mat-raised-button type="submit" color="primary" [disabled]="loginForm.invalid">Iniciar Sesi&oacute;n</button>
    </form>

</div>