.sidenav-container {
    width: 100%;
    height: 38em;
    background-color: #fff;
}

.sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
  
.sidenav {
    padding: 20px;
    width: 200px;
}

.menu-container > * {
    float: left;
    width: 100%;
    margin: 1px 0;
    padding: 6px;
    text-align: left;
    font-size: 16px;

    background: none;
    border: none;
}

.menu-container mat-button {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu-container button mat-icon {
    vertical-align: middle;
}

.menu-container button span {
    vertical-align: middle;
}

/*** Menu Button ***/
.menu-button {
    cursor: pointer;
}

.menu-button mat-icon {
    vertical-align: middle;
}

.menu-button span {
    vertical-align: middle;
}

@media only screen and (max-width: 500px){
    [class*="sidenav-container"] {
        width: 100%;
        padding: 0;
        margin: 0;
    }
}    